.Rproj.user
.Rhistory
.RData
.Ruserdata
opvask_osv.R
-Rasmus-work.RData
-Rasmus-work.Rhistory
DF_distribution.csv
DF_distribution_30_500_1500.RData
Opsamling_af_gamle_ting.Rmd
Billeder/BTC_IAP.pdf
Billeder/DF_distribution_30_500_1500.pdf
DF_distri.R
